#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

th,
td {
  border: 1px solid steelblue;
}

tr:nth-child(even) {
  background: lightblue;
}

TableRow {
  color: pink;
}
